.counter {
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 8px;
  color: #4f46e5;
  background: #eef2ff;
  border: 1px solid transparent;
  transition: 0.2s ease;
  margin-bottom: 20px;
}

.counter:hover {
  border-color: #4f46e5;
}

/* HERO */
.hero {
  position: relative;
}

/* CENTER */
#center {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* NEXT STEPS */
#next-steps {
  display: flex;
  border-top: 1px solid #ddd;
  text-align: left;
  flex-wrap: wrap;
}

#next-steps > div {
  flex: 1;
  padding: 24px;
}

/* LINKS */
#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

#next-steps ul a {
  color: #111;
  font-size: 14px;
  border-radius: 8px;
  background: #f3f4f6;
  display: flex;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  transition: 0.2s ease;
}

#next-steps ul a:hover {
  background: #e5e7eb;
  transform: translateY(-2px);
}